* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f1f3f6;
  overflow-y: auto;
  overflow-x: hidden;
}
.logo {
  height: 50px;
  width: 110px;
}
#search {
  height: 35px;
  width: 400px;
}
nav {
  background-color: #2874f0;
  position: sticky;
  top: 0px;
  z-index: 99;
}
.login{
  height: 38px;
  width: 130px;
  cursor: pointer;
  /* border-radius: 3px; */
  color:#2874f0;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 30px;
  font-family: Roboto, Arial, sans-serif;
  justify-content: space-around;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  color: #fefaf3;
}
nav ul li {
  cursor: pointer;
}
nav i{
  margin-right: 13px;
}
header {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #fff;
  margin-top: 5px;
}
header div img {
  height: 70px;
}
header div p {
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  z-index: 0;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Container1 {
  /* background-color: red; */
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 12px; */
  align-items: center;
  background-color: #fff;
}
.box1 {
  text-align: center;
}
.bold {
  font-weight: 540;
  margin-top: 5px;
}
.green {
  color: #388e3c;
  margin-top: 5px;
}
.gray {
  color: #2121218f;
  margin-top: 5px;
}
section div .box1 {
  height: 45vh;
  width: 32vh;
  gap: 10px;
  background-color: #fff;
}

.Container1 {
  background-color: #f1f3f6;
}
.box1 img {
  height: 27vh;
  width: 25vh;
  margin: 0px 5px;
  margin-top: 30px;
  transition: all ease 0.4s;
  object-fit: contain;
}
.box1:hover img {
  scale: 1.05;
}
.Container2 {
  height: 36vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin-top: 12px; */
  align-items: center;
  background-color: #fff;
}
.box2 {
  height: 35vh;
  width: 67vh;
  justify-content: space-evenly;
  background-color: #f1f3f6;
  overflow: hidden;
}
.box2 img {
  height: 35vh;
  width: 67vh;
  object-fit: contain;
  transition: all ease 0.2s;
}
.box2:hover img {

  scale: 1.03;
}
.product {
  margin-left: 100px;
  margin-top: 23px;
  margin-bottom: 23px;
  color: #212121;
  background-color: #f1f3f6;
  font-size: 25px;
}

footer .main {
  height: 15.3vw;
  width: 99vw;
  background-color: #172337;
  color: #fff;
  display: flex;
  align-items: center;
}
.first {
  height: 75%;
  width: 60%;
  display: flex;
  font-size: 12px;
  margin: 40px;
}

.one {
  height: 100%;
  width: 25%;
}
.two {
  height: 100%;
  width: 25%;
}
.three {
  height: 100%;
  width: 25%;
}
.four {
  height: 100%;
  width: 25%;
}
.text li {
  margin: 5px;
  list-style: none;
}
.headding {
  color: #878787;
  font-size: 13px;
  margin: 5px;
  cursor: pointer;
}

.second {
  height: 75%;
  width: 45%;
  display: flex;
}
.second li {
  font-size: 12px;
}

.five,
.six {
  height: 100%;
  width: 50%;
}

.fiveul li,
.sixul li {
  list-style: none;
  margin: 3px;
}
.center{
  height: 50%;
  width: 0.1%;
  background-color: #fff;
margin: 10px;
}

.line{
  height: 0.8px;
  width: 100%;
  background-color:wheat;
}
.last{
  height: 4vw;
  width: 99vw;
  background-color: #172337;
  display: flex;
  align-items: center;
  text-align: center;
}
.lastul{
  display: flex;
  color: #fff;
}
.lastul li{
  list-style: none;
  margin: 35px;
}
.img{
  object-fit: contain;
margin-left: 20px;
}
.lastul img{
  object-fit: contain;
  margin-right: 11px;
}