* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  background-color: #f1f3f6;
}
.logo {
  height: 50px;
  width: 110px;
}
#search {
  height: 35px;
  width: 400px;
}
nav {
  background-color: #0048c2;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  line-height: 30px;
  font-family: Roboto, Arial, sans-serif;
  justify-content: space-around;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  color: #fefaf3;
}
nav ul li {
  cursor: pointer;
}
header {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #fff;
  margin-top: 5px;
}
header div img {
  height: 70px;
}
header div p {
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Container1 {
  /* background-color: red; */
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 12px; */
  align-items: center;
  background-color: #fff;
}
.box1 {
  text-align: center;
}
.bold {
  font-weight: 540;
  margin-top: 5px;
}
.green {
  color: #388e3c;
  margin-top: 5px;
}
.gray {
  color: #2121218f;
  margin-top: 5px;
}
section div .box1 {
  height: 45vh;
  width: 30vh;
  gap: 10px;
  background-color: #fff;
}

.Container1 {
  background-color: #f1f3f6;
}
.box1 img {
  height: 25vh;
  width: 20vh;
  margin: 0px 16px;
  margin-top: 30px;
  transition: all ease 0.4s;
}
.box1:hover img {
  scale: 1.05;
}
.Container2 {
  height: 36vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin-top: 12px; */
  align-items: center;
  background-color: #fff;
}
.box2 {
  height: 35vh;
  width: 67vh;
  justify-content: space-evenly;
  background-color: #f1f3f6;
overflow: hidden;
}
.box2 img {
  height: 35vh;
  width: 67vh;
  transition: all ease 0.2s;
}
.box2:hover img {
  scale: 1.03;
}
.product {
  margin-left: 100px;
  margin-top: 23px;
  margin-bottom: 23px;
  color: #212121;
  background-color: #f1f3f6;
  font-size: 25px;
}
